# Notion設定
NOTION_TOKEN=secret_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_DATABASE_ID=a65693b6-4d0d-4050-8713-8300ee4a7fba

# Claude API
ANTHROPIC_API_KEY=sk-ant-xxxxxxxxxxxxxxxxxx

# PubMed (PUBMED_API_KEYは任意)
PUBMED_EMAIL=your-email@example.com
PUBMED_API_KEY=
